<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="{{ site.url }}">Home</a></li>
        <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="{{ site.url }}about">About</a></li>
        <li class="nav-fables {% if page.url contains 'ph.d.-19' %} nav-current{% endif %}" role="presentation"><a href="{{ site.url }}tag/ph.d.-19">Ph.D. '19</a></li>
        <li class="nav-fables {% if page.url contains 'ph.d.-19' %} nav-current{% endif %}" role="presentation"><a href="{{ site.url }}tag/m.s.-19">M.S. '19</a></li>
        <li class="nav-fables {% if page.url contains 'm.s.-18' %} nav-current{% endif %}" role="presentation"><a href="{{ site.url }}tag/m.s.-18">M.S. '18</a></li>
        <li class="nav-fables {% if page.url contains 'b.s.-18' %} nav-current{% endif %}" role="presentation"><a href="{{ site.url }}tag/b.s.-18">B.S. '18</a></li>
        <li class="nav-fables {% if page.url contains 'b.s.-17' %} nav-current{% endif %}" role="presentation"><a href="{{ site.url }}tag/b.s.-17">B.S. '17</a></li>
        <li class="nav-fables {% if page.url contains 'b.s.-15' %} nav-current{% endif %}" role="presentation"><a href="{{ site.url }}tag/b.s.-15">B.S. '15</a></li>
        <li class="nav-fables {% if page.url contains 'm.b.a-11' %} nav-current{% endif %}" role="presentation"><a href="{{ site.url }}tag/b.s.-11">M.B.A. '11</a></li>
        <li class="nav-fables {% if page.url contains 'm.a.-11' %} nav-current{% endif %}" role="presentation"><a href="{{ site.url }}tag/b.s.-11">M.A. '11</a></li>
        <li class="nav-fables {% if page.url contains 'b.s.-11' %} nav-current{% endif %}" role="presentation"><a href="{{ site.url }}tag/b.s.-11">B.S. '11</a></li>
    </ul>

    <!-- <a class="subscribe-button icon-feed" href="{{ site.url }}feed.xml">Subscribe</a> -->
</div>
<span class="nav-cover"></span>
